body {
  color: black;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  color: black;
}

.auth-card button {
  padding: 12px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}
